.wrapper { background:#FFF; border:0px solid #ddd; width:900px; margin:1px auto 0px auto; }
.header { background:#FFF; font-size: 14px; height:25px; color:blue; text-align:left; margin-top: 10px;  margin-bottom: 20px;}
.header_item {float: left; color:blue; margin-right: 5px; margin-top: 7px;}
.header_pagination {float: left; color:blue; margin-left: 100px; margin-top: 7px;}
.title{ font-size: 30px; font-weight: bold; height:30px; margin-bottom: 10px; margin-top: 20px; text-align:left; padding-bottom: 2px; }
.main { float:left; margin-left: 10px; padding:5px 10px 5px 0; background:#FFF; width:750px; font-size: 14px; }
.sidebar_left { float:left; width: 120px; border-right: 1px solid #dddddd; padding-right: 5px}
.sidebar_right { float:left; width:180px; padding-left:1px; margin-bottom:-1px; }
.entry { margin-bottom: 10px; padding-bottom: 3px; border-bottom: 1px solid #dddddd; }
.entry_title { font-size: 16px; font-weight: bold; color : #0000ff; text-decoration: none; }
.entry_title > a:visited {color:green}
.entry_title > a {text-decoration: none; }
.entry_other_fields {font-size: 12px; }
.entry_content {font-size: 14px; margin-top: 6px; margin-bottom: 14px; color: #444; font-family: "ו";}
.related_title {font-size: 16px; font-weight: bold; margin-top: 10px; border-bottom: 2px solid #dddddd; }
.related_entry {font-size: 16px; color : #0000ff; margin-bottom: 2px}
.sort_entry {font-size: 12px; color : #0000ff; margin-bottom: 2px; margin-top: 2px; font-weight: bold; }
.sort_entry > a {text-decoration: none; }
.related_entry > a {text-decoration: none; }
.main_entry {font-size: 16px; font-weight: bold; background-color: blue; color: white}
.search_error { font-size: 14px; padding: 10px 10px 10px 10px; margin-bottom: 12px; background: #EEE}

.num{ font-family: verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#717532; }
h2{ margin:0px; padding:10px 0 0 10px; font-size:14px; clear:both; }
td { FONT-SIZE: 10pt; LETTER-SPACING: 1pt; LINE-HEIGHT: 15pt}
A:LINK, A:VISITED { color : blue; }
A:HOVER { color : green;}
.powerby { float: left; width:800; text-align:center; }
.copyright { text-align:center; }
.update {float:left; margin-top: 20px; width: 800px; font-size: 12px}

#search { float:left; height:20px; margin-right: 10px;}
#search input { float:left; background:#fff; width:125px; font-family:Georgia,serif; font-size:14px; font-style:italic; color:#999; line-height:18px; border:1px solid #ECEDE8; }
#search input:focus { background:#fffff0; border:1px solid #ddd; }
#search input.btn { background:none; border:none; margin:7px 0px 0px -23px; padding:0px; width:auto; }
